* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

footer {
    padding: 40px;
    text-align: center;
}

header,
footer {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 4px 0 4px 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 48px 0;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.content-wrapper {
    max-width: 1048px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8
}

.hero {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 100px 0 128px 0;
}

.info {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 180px;
    gap: 8px;
}

.info-img {
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.card-description {
    color: #5e5e5e;
}

.quote {
    background-color: #e5e7eb;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 824px;
    margin: 0 auto;
    padding: 128px 0 100px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 8px;
}

.quote-citation {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    margin: 0;
    padding-right: 48px;
}

.quote-text,
.quote-citation {
    color: #1f2937;
}

.cta-wrapper {
    width: 1024px;
    margin: 0 auto;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3882f6;
    border-radius: 8px;
    margin: 100px 0;
    padding: 48px 120px;
}

.cta-text {
    margin: 0;
}

.btn-alt {
    border: 2px solid #e5e7eb;
}

.footer-text {
    margin: 0;
}